:root {
    --color: #7B36C5;
    --color-l2: #9B5FC7;
    --bg-color: #1F1E1E;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    outline: none;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: var(--bg-color);
    color: white;
}

header {
    margin-top: 20px;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: transparent;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

hr {
    border: none;
    height: .1rem;
    background: linear-gradient(to right, var(--color), var(--color-l2));
}

header h3 {
    font-size: 2.5rem;
}

header h3:hover {
    text-shadow: 0 0 2.5rem white;
    transform: scale(1.05);
    transition: .5s ease-in-out;
}

nav a {
    font-size: 1.8rem;
    color: white;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

nav a:hover, nav a.active {
    color: var(--color);
    border-bottom: 3px solid var(--color);
}

nav a:hover {
    transform: scale(1.05);
}

section {
    min-height: 30vh;
    padding: 5rem 9% 5rem;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-color: var(--bg-color);
}

h1 {
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}

span {
    background: linear-gradient(to right, var(--color), var(--color-l2));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

h3 {
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.center {
    text-align: center;
}

.home .content p {
    color: #d3cccc;
    font-size: 1.5rem;
    text-align: justify;
    text-align-last: left;
    hyphens: auto;
}

.icon {
    position: relative;
    width: fit-content;
}

.icon img {
    position: relative;
    width: 32vw;
    border-radius: 100%;
    cursor: pointer;
    transition: 0.2s linear;
    box-shadow: 0 0 2.5rem var(--color);
    animation: 4s shadow ease-in-out infinite;
}

.icon img:hover {
    font-size: 1.8rem;
    font-weight: 500;
}

.social a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 0.2rem solid var(--color);
    font-size: 2rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
    color: white;
}

.social a:hover {
    transform: scale(1.1) translateY(-5px);
    background-color: var(--color);
    box-shadow: 0 0 25px var(--color);
}

.typing {
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
    position: relative;
}

.typing span {
    position: relative;
    display: inline-block;
}

.typing span::before {
    color: var(--color);
    animation: words 20s infinite;
    display: inline-block;
}

.typing span::after {
    content: "";
    background-color: var(--bg-color);
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid var(--bg-color);
    right: -8;
    animation: cursor 0.6s infinite;
    z-index: 1;
}

@media (max-width: 1000px) {
    .home { gap: 3rem; }
}

@media (max-width: 995px) {
    .home {
        flex-direction: column;
        margin: 2rem 1rem;
    }

    h1 {
        font-size: 4rem;
    }

    h3 {
        font-size: 2.5rem;
    }

    .icon img {
        width: 70vw;
        margin-top: 4rem;
    }
    
    nav {
        display: none;
    }
}

@keyframes cursor {
    from { border-left-color: transparent; }
    to { border-left: 3px solid var(--color) }
}

@keyframes shadow {
    50% { box-shadow: 0 0 5rem var(--color); }
    100% { box-shadow: 0 0 2.5rem var(--color); }
}